.pageContainer{
    background-color: #e35a3b;
    height: 100vh;
    overflow: hidden;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.headerItem {
    margin: 0 20px;
    font-size: 48px;
}

.black {
    color: black;
    padding: 0 15px;
}

.white {
    color: white;
    background-color: transparent;
    padding: 0 15px;
}
