.pageContainer {
  background-color: #e35a3b;
  height: 100vh;
  overflow: hidden;
}

.pageContentContainer
{
  padding: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  display: flex;
  margin-bottom: 2%;
}

.addButton {
  padding: 5px;
  margin-right: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #201f1f;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #3f3b3a;
}

.title {
  color: white;
  font-size: 36px;
}
