.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #e35a3b;
  }
  
  .headerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .addButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #332e2c;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #5b514f;
  }
  
  .headerTitle {
    color: white;
    font-size: 36px;
  }
  
  .tableContainer {
    width: 100%;
    max-width: 800px;
    height: 500px;
    overflow: auto;
  }
  