header {
    background-color: #131313f3;
    padding: 1%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    padding-right: 1%;
    display: flex;
}

a {
    text-decoration: beige;
    color: #f4f4f4;
}

button {
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}
