.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.dataTable th,
.dataTable td {
  padding: 0.75rem; 
  text-align: center;
  
}

.dataTable th {
  background-color: #201f1f;
  border-right: 1px solid #ddd;
  color: #e6dcdc; 
}

.dataTable td {
  background-color: #e4e0dcf3;
  border-right: 1px solid #1f1e1e;
}

.dataTable th:first-child,
.dataTable td:first-child {
    display: none;
}

.dataTable th:last-child,
.dataTable td:last-child {
    border: 0px;
}

.dataTable td:last-child button {
  width: 25%;
}